<div class="container text-center">
	<h1 id="hd12">Login</h1>
	<div class="row">
		<div class="mat1 col-lg-12">
			<div class="input1 row text-center">
				<div class="col-lg-6 ">
					<h4>For Donnors</h4>
					<p class="brow">Sign In and start donnating to millions of users. </p>
					<a href="/auth"><button type="button" class="btn btn-outline-secondary" id='donnor_login'>Login</button></a>
				</div>
				<div class="col-lg-6">
					<h4>For Recipient</h4>
					<p class="brow">Sign In and receive good from millions of Donnors </p>
					<a href="/auth"><button type="button" class="btn btn-outline-success" id='rep_login'>Login</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
