<div class="container col-md-6 my-5">
  <h1 class="page_title">Signup</h1>
  <form id="signup_form" action="/auth/register" method="POST"
    oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" name="firstname" required="required" autofocus>
      </div>
      <div class="form-group col-md-6">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="lastname" required="required">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" name="email" required="required">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputRole">Type</label>
        {{#each roles}}
          {{#if (equal name ../uType)}}
            <input type="hidden" class="form-control" id="inputRole" name="role_id" required="required" value={{_id}}>
            <input type="text" class="form-control" id="inputRole" name="role" readonly='readonly' value={{name}}>
          {{/if}}
        {{/each}}
      </div>
      <div class="form-group col-md-6">
        <label for="inputGender">Gender</label>
        <select id="inputGender" class="form-control" name="gender" required="required">
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="password" required="required">
    </div>
    <div class="form-group">
      <label for="inputPassword2">Confirm Password</label>
      <input type="password" class="form-control" id="inputPassword2" name="password2">
    </div>
    <button type="submit" class="btn btn-outline-success">Sign Up</button>
    <a class="text-primary" href="/auth/login">Sign in?</a>
  </form>
</div>
