<div class="add-remove">
  <label for="quantity" class="small hide">Item Quantity</label>
  <div class="input-group" data-donation-id={{id}}>
    <span class="input-group-prepend">
      <label for="add-item" class="small hide">Add Item</label>
      <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" id="add-item"
        data-field="" name="Add Item">
        <span class="fa fa-minus"></span>
      </button>
    </span>
    <input type="number" id="quantity" name="quantity" class="form-control input-number" value={{itemQuantity items id}}
      min="0" max={{in_stock}} readonly>
    <span class="input-group-append">
      <label for="remove-item" class="small hide">Remove Item</label>
      <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" id="remove-item"
        data-field="">
        <i class="fa fa-plus"></i>
      </button>
    </span>
  </div>
  <span class="small text-danger hide error"></span>
</div>