{{#each donations}}
  <div class="col">
    <a class="donation-card-link" href="/donations/{{_id}}">
      <div class="card bg-light mb-5 box-shadow">
        <div class="card-body">
          <p class="card-title">
            {{name}}({{quantity}})
          </p>
        </div>
        <img class="card-img-top" src="https://www.staples-3p.com/s7/is/image/Staples/sp82712270_sc7?wid=400&hei=450" alt={{name}}>
        {{#if ../showApproveReject}}
          {{>approve-reject status=status id=_id}}
        {{/if}}
      </div>
    </a>
  </div>
{{/each}}
