<div class="container-sm">
  <div class="row row-cols-4">
    {{#each donations}}
      <div class="col">
        <a href="/donations/{{_id}}">
          <div class="card mb-5 box-shadow">
            <img class="card-img-top" src="https://www.staples-3p.com/s7/is/image/Staples/sp82712270_sc7?wid=200&hei=250">
            <div class="card-body">
              <h5 class="card-title">
                {{name}}({{quantity}})
              </h5>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>
