{{#each items}}
  <div class="col">
    <a class="item-card-link" href="/items/{{_id}}">
      <div class="card bg-light mb-5 box-shadow">
        <div class="card-body">
          <p class="card-title">
            {{quantity}}
          </p>
        </div>
        <img class="card-img-top" src="https://www.staples-3p.com/s7/is/image/Staples/sp82712270_sc7?wid=400&hei=450">
      </div>
    </a>
  </div>
{{/each}}