{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.handlebars",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "trailingComma": "es5",
  "semi": true,
  "htmlWhitespaceSensitivity": "strict"
}
