<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-12">
      {{#if searchTerm}}
        <p>You've searched for : '{{searchTerm}}'</p>
      {{/if}}
      <form id="search-donation" action="/donations/search" method="post">
        <input class="form-control" name="searchTerm" type="text" placeholder="Enter search term here"
          aria-placeholder="Search for any donation by name, region, etc.">
        <button type="submit" class="btn btn-success">Search</button>
      </form>
    </div>
  </div>
</div>
<div class="listings">
  <div class="container-sm">
    <div class="row row-cols-4">
      {{> donation_listing donations=donations}}
    </div>
  </div>
</div>