<div>
  <h1 class="error">{{errorReason}}</h1>
  <article>
    <p class="error">
      {{message}}
      <span class="another-search">
        <a href="/">Back to Home</a>
      </span>
    </p>
  </article>
</div>
