#browse,
.listings {
  margin-top: 5em;
}

.donation-details {
  margin-top: 2em;
}

#browse a {
  color: #333;
  text-decoration: none;
}

#browse a:hover {
  color: #333;
  text-decoration: none;
}
