#home {
  padding: 2em 0;
}

.view-more {
  font-size: 1.3em;
  text-decoration: none;
}

.recent-donations-heading {
  margin: 3em 0;
}

.donation-card-link,
.donation-card-link:hover {
  color: #333;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
}
