<footer class="footer">
  <div class="container">
    <!-- Copyright -->
    <div class="footer-copyright text-muted">Copyright © 2020
      <a class="text-primary" href="/">Helping Hands</a>
    </div>
    <!-- Copyright -->
</footer>
