<div class="container-sm">
  <div class="row">
    <div class="col text-right">
      {{#if showPlaceOrderBtn}}
        <a href="/orders/{{order._id}}/checkout" class="btn btn-outline-success" id="place-order">Place Order</a>
      {{/if}}
    </div>
  </div>
</div>
<div class="container-sm">
  <div class="row justify-content-between text-muted">
    <div class="col-5">
      {{#if (placed order)}}
        <span>
          <span class="small"> ORDER PLACED</span>
          {{dateToString order.updatedAt}}
        </span>
      {{/if}}
    </div>
    <div class="col-3 text-right">
      <span>
        <span class="small"> ORDER# {{order._id}} </span>
      </span>
    </div>
  </div>
</div>
<div class="listings">
  <div class="container-sm">
    {{> item_listing items=items order_status=(placed order)}}
  </div>
</div>