<div id="home">
  <div class="container text-center">
    <div class="row">
      <div class="my-5 col-12 col-md-6">
        <h1 class="text-blue">Helping each other has never been more convenient</h1>
        <div class="my-5 row text-center">
          <div class="col-12 col-md-6 text-center">
            <h2>For Donors</h2>
            <p class="text-muted">
              We are here to ensure you can help or ask for help,
              in the most convenient way possible. Helping others
              is always an emotionally rewarding experience, and
              now we aim to make it convenient too.
              <br>
              Join Us, and help make the world a better place:
            </p>
            <a href="/auth/signup?uType=Donor" class="btn btn-outline-secondary">Sign up to Start Helping</a>
          </div>
          <div class="col-12 col-md-6 text-center">
            <h2>For Recipient</h2>
            <p class="text-muted">This platform is built for anyone in need.
              Asking for help is always difficult, but not anymore.
              <br>
              No awkward conversations to be had, just join us and find
              something that can add to your life, on Helping Hands.
              Sign up as a recipient:
            </p>
            <br>
            <a href="/auth/signup?uType=Recipient" class="btn btn-outline-success">Sign Up to find Help</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 my-5">
        <img src="hands.jpg" alt="Black and white holding hands" width='700'>
      </div>
    </div>
  </div>
    {{!-- // dynamic live reloading of latest donations, refreshes every 10 seconds --}}
  <div class="container text-center">
    <section class="recent-donations-section">
      <h3 class="recent-donations-heading">Most Recent Donations</h3>
      <div class="container-sm">
        <div class="row row-cols-4 recent-donations">
      </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a class="view-all btn btn-outline-success btn-block" href="/donations">View all donations</a>
          </div>	
        </div>
    </section>
  </div>
</div>
