<div class="container text-center">
  <div class="row">
    <div class="my-5 col-12 col-md-6">
      <h1 class="green-color">Matching Donors with Needy people in the Society</h1>
      <div class="my-5 row text-center">
        <div class="col-12 col-md-6 text-center">
          <h2>For Donors</h2>
          <p class="grey-color">Donation can be made easy by simply uploading an item to the page. Eveyone can donate or
            become a donor. </p>
          <a href="/auth" class="btn btn-outline-secondary" id="donor_login">Start Donating</a>
        </div>
        <div class="col-12 col-md-6 text-center">
          <h2>For Recipient</h2>
          <p class="grey-color">This platform is built for anyone who is in need. Are you in need? Time to shop for $0
          </p>
          <br>
          <a href="/auth" class="btn btn-outline-success" id='rep_login'>Sign Up & Receive</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 my-5">
      <img src="hands.jpg" alt="Black and white holding hands" width='700'>
    </div>
  </div>
</div>