<div id="aboutUs">
  <div class="container text-left">
    <div class="row">
      <h1>
        The Helping Hands Terms &amp; Conditions
      </h1>
    </div>

    <p><a href="#1">1. Introduction</a></p>
    <p><a href="#2">2. About Helping Hands</a></p>
    <p><a href="#3">3. Using Helping Hands</a></p>
    <p><a href="#4">4. Policy Enforcement</a></p>
    <p><a href="#5">5. Posting Donations</a></p>
    <p><a href="#6">6. Requesting Donations</a></p>
    <p><a href="#7">7. Notice for Claims of Intellectual Property Violations and Copyright Infringement Pursuant to
        Section 512(c) of Title 17 of the United States Code</a></p>
    <p><a href="#8">8. Authorization to Contact You; Recording Calls</a></p>
    <p><a href="#9">9. Disclaimer of Warranties; Limitation of Liability</a></p>
    <p><a href="#10">10. Release</a></p>
    <p><a href="#11">11. Indemnity</a></p>
    <p><a href="#12">12. Legal Disputes</a></p>
    <p><a href="#13">13. General</a></p>

    <div class="row">
      <h2><a id="1" name="1"></a>1. Introduction</h2>
      <p>This User Agreement and all policies and additional terms posted on our site, set out the terms on which
        Helping
        Hands offers
        you access to and use of our Services. You agree to comply with all terms of this User Agreement when accessing
        or
        using our Services.
      </p>
      <p>The entity you are contracting with is: Helping Hands, Stevens Institue of Technology, Hoboken, NJ 07030.
        Please be
        advised that this User Agreement contains provisions that govern how claims you and we have against
        each other are resolved (see &quot;Disclaimer of Warranties; Limitation of Liability&quot; and &quot;Legal
        Disputes&quot; provisions below). It also contains an Agreement to Arbitrate which will, with limited exception,
        require you to submit claims you have against us or our agents to binding and final arbitration, unless you opt
        out
        of the Agreement to Arbitrate (see <a href="#B. Agreement">Legal Disputes, Section B</a> (&quot;Agreement to
        Arbitrate&quot;)). If you do not opt out: (1) you will only be permitted to pursue claims against us or our
        agents
        on an individual basis, not as a plaintiff or class member in any class or representative action or proceeding
        and
        (2) you will only be permitted to seek relief (including monetary, injunctive, and declaratory relief) on an
        individual basis.</strong></p>
      <h2><a id="2" name="2"></a>2. About Helping Hands</h2>
      <p>Helping Hands is a non-profit platform that allows users to offer and request just about anything.
        The actual contract for sale is directly between the donor and recipient. Helping Hands is not a
        traditional merchant.</p>
      <p>Any guidance we provide as part of our Services, related to shipping, listing, and sourcing is solely
        informational and you may decide to follow it or not. Also, while we may help facilitate the resolution of
        disputes
        through various programs, Helping Hands has no control over and does not guarantee: the existence, quality,
        safety or
        legality
        of items advertised; the truth or accuracy of users&#39; content or listings; the ability of donors to provide
        items;
        the ability of recipients to pick up items.
      </p>
      <h2><a id="3" name="3"></a>3. Using Helping Hands</h2>
      <br>
      <p>In connection with using or accessing our Services you will not:</p>
      <ul>
        <li>post, list or upload content or items in inappropriate categories or areas on our sites;</li>
        <li>breach or circumvent any laws, regulations, third-party rights or our systems, Services, policies, or
          determinations of your account status;</li>
        <li>use our Services if you are not able to form legally binding contracts (for example, if you are under 18
          years
          old), or are temporarily or indefinitely suspended from using our Services, or are a person with whom
          transactions
          are prohibited under economic or trade sanctions;</li>
        <li>defraud or attempt to defraud a recipient.</li>
        <li>fail to deliver items donated by you, unless you have a valid reason as set out in an Helping Hands policy,
          for
          example, the
          recipient fails to comply with the posted terms in your listing or you cannot contact the recipient;</li>
        <li>attempt to post marketing messages and/or interfere with any other user&#39;s listings;</li>
        <li>post false, inaccurate, misleading, deceptive, defamatory, or libelous content;</li>
        <li>transfer your Helping Hands account (including Feedback) and user ID to another party without our consent;
        </li>
        <li>distribute or post spam, unsolicited or bulk electronic communications, chain letters, or pyramid schemes;
        </li>
        <li>distribute viruses or any other technologies that may harm Helping Hands or the interests or property of
          users;
        </li>
        <li>use any robot, spider, scraper, data mining tools, data gathering and extraction tools, or other automated
          means
          to access our Services for any purpose, except with the prior express permission of Helping Hands;</li>
        <li>interfere with the functioning of our Services, such as by imposing an unreasonable or disproportionately
          large
          load on our infrastructure;</li>
        <li>export or re-export any Helping Hands application or tool, except in compliance with the export control
          laws, and
          rules and
          policies of any relevant jurisdictions;</li>
        <li>infringe the copyright, trademark, patent, publicity, moral, database, and/or other intellectual property
          rights
          (collectively, &quot;Intellectual Property Rights&quot;) that belong to or are licensed to Helping Hands.
          Some, but
          not all,
          actions that may constitute infringement are reproducing, performing, displaying, distributing, copying,
          reverse
          engineering, decompiling, disassembling, or preparing derivative works from content that belongs to Helping
          Hands or
          someone
          else;</li>
        <li>infringe any Intellectual Property Rights that belong to third parties affected by your use of our Services
          or
          post content that does not belong to you;</li>
        <li>commercialize any Helping Hands application or any information or software associated with such application,
          except with
          the prior express permission of Helping Hands;</li>
        <li>harvest or otherwise collect information about users without their consent; or</li>
        <li>circumvent any technical measures used to provide our Services.</li>
      </ul>
      <p>donors must meet Helping Hands&#39;s behavioral standards.
        Failure to meet these standards may result in Helping Hands
        limiting, restricting, suspending, or downgrading your donor account.</p>
      <p>If we believe you are abusing Helping Hands and/or our Services in any way, we may, in our sole discretion and
        without
        limiting other remedies, limit, suspend, or terminate your user account(s) and access to our Services, delay or
        remove
        hosted content, remove any special status associated with your account(s), remove, not display, and/or demote
        listings, reduce or eliminate any discounts, and take technical and/or legal steps to prevent you from using our
        Services.</p>
      <p>If we believe you are violating our policies prohibiting offers to buy or sell items on
        Helping Hands, you may be subject to a range of actions, including limits on your donation/requesting
        privileges,
        restrictions on listings and account features, suspension of your account, application of fees, and recovery of
        expenses for policy monitoring and enforcement. If you are a donor and you offer or reference your contact
        information or ask a recipient for their contact information in the context of donation or requesting donations.
      </p>
      <p>We may cancel unconfirmed accounts or accounts that have been inactive for a substantial period of time.
        Additionally, we reserve the right to refuse, modify, or terminate all or part of our Services to anyone for any
        reason at our discretion.</p>
      <h2><a id="4" name="4"></a>4. Policy Enforcement</h2>
      <p>When a recipient or donor issue arises, we may consider the user&#39;s performance history and the specific
        circumstances in applying our policies. We may choose to be more lenient with policy enforcement in an effort to
        do
        the right thing for both recipients and donors.</p>
      <h2><a id="5" name="5"></a>5. Requesting Donations</h2>
      <br>
      <p>When requesting an item on our Platform, you agree to the Rules and policies for recipients and
        that:</p>
      <ul>
        <li>You are responsible for reading the full item listing before making a bid or committing to buy,</li>
        <li>You enter into a legally binding contract to requeste an item when you commit to buy an item, your offer for
          an
          item is accepted, or if you have the winning bid (or your bid is otherwise accepted),</li>
        <li>For motor vehicles and real estate, a bid or offer initiates a non-binding transaction representing a
          recipient&#39;s
          serious expression of interest in donation the donor&#39;s item and does not create a formal contract between
          the
          recipient and the donor,</li>
        <li>We do not transfer legal ownership of items from the donor to the recipient,</li>
        <li>Utah Code Annotated &sect; 70A-2-401(2) and Uniform Commercial Code &sect; 2-401(2) apply to the transfer of
          ownership between the recipient and the donor, unless the recipient and the donor agree otherwise.</li>
      </ul>
      <h2><a id="6" name="6"></a>6. Posting Donations</h2>
      <br>
      <p>When listing an item as a donation on our Platform, you agree to comply with Helping Hands&#39;s Listing
        policies and
      </p>
      <ul>
        <li>You assume full responsibility for the item offered and the accuracy and content of the donation listing,
        </li>
        <li>Your listing may not be immediately searchable by keyword or category for several hours (or up to 24 hours
          in some
          circumstances). Helping Hands can&#39;t guarantee exact listing duration,</li>
        <li>Content that violates any of Helping Hands&#39;s policies may be modified, obfuscated or deleted at Helping
          Hands&#39;s sole
          discretion,</li>
        <li>We may revise product data associated with listings to supplement, remove, or correct information,</li>
        <li>We strive to create a marketplace where recipients find what they are looking for. Therefore, the appearance
          or
          placement of listings in search and browse results will depend on a variety of factors, including, but not
          limited
          to:
          <ul>
            <li>recipient&#39;s location, search query, browsing site, and history;</li>
            <li>item&#39;s location, listing format and shipping cost, terms of service, donor history, and
              relevance to the user query;</li>
            <li>donor&#39;s history, including listing practices, Detailed donor Ratings, Helping Hands policy
              compliance,
              Feedback,
              and defect rate; and</li>
            <li>number of listings matching the recipient&#39;s query,</li>
          </ul>
        </li>
        <li>To drive a positive user experience, a listing may not appear in some search and browse results regardless
          of the
          sort order chosen by the recipient,</li>
        <li>Some advanced listing upgrades will only be visible on some of our Services,</li>
        <li>Helping Hands&#39;s Duplicate listings Policy may also affect whether your listing appears in search
          results,</li>
        <li>Metatags and URL links that are included in a listing may be removed or altered so as to not affect
          third-party
          search engine results,</li>
        <li>We may provide you with optional recommendations to consider when creating your listings. Such
          recommendations may
          be based on the aggregated sales and performance history of similar donated and current listings; results may
          vary
          for
          individual listings. To drive the recommendations experience, you agree that we may display the sales and
          performance history of your individual listings to other donors,</li>
      </ul>
      <h2><a id="7" name="7"></a>7. Notice for Claims of Intellectual Property Violations and Copyright Infringement
        Pursuant to Section 512(c) of Title 17 of the United States Code</h2>
      <p>We respond to notices of alleged copyright infringement under the United States Digital Millennium Copyright
        Act.
        Helping Hands&#39;s Verified Rights Owner (VeRO) program works to ensure that items and content using our
        Services do
        not
        infringe upon the copyright, trademark, or certain other intellectual property rights of third parties. If you
        believe
        that your intellectual property rights have been infringed, please notify our team via email.
      </p>
      <h2><a id="8" name="8"></a>8. Authorization to Contact You; Recording Calls; Analyzing Message Content</h2>
      <p>Helping Hands may contact you using autodialed or prerecorded calls and text messages, at any telephone number
        that
        you have
        provided us, to: (i) notify you regarding your account; (ii) troubleshoot problems with your account; (iii)
        resolve a
        dispute; (iv) collect a debt; (v) poll your opinions through surveys or questionnaires; or (vi) as otherwise
        necessary
        to service your account or enforce this User Agreement, our policies, applicable law, or any other agreement we
        may
        have with you. Helping Hands may also contact you using autodialed or prerecorded calls and text messages.
        Helping Hands may collect other telephone numbers for you and may place manual non-marketing calls to any of
        those
        numbers and autodialed non-marketing calls to any landline. Standard telephone minute and text charges may apply
        and
        may include
        overage fees if you have exceeded your plan limits. If you do not wish to receive such communications, you may
        change
        your communications preference at any time by informing us via e-mail.</p>
      <p>Helping Hands may share your telephone number with its authorized service providers as stated in our User
        Privacy
        Notice.
        These service providers may contact you using autodialed or prerecorded calls and text messages, only as
        authorized by
        Helping Hands to carry out the purposes identified above.</p>
      <p>Helping Hands may, without further notice or warning and in its discretion, monitor or record telephone
        conversations
        you or
        anyone acting on your behalf has with Helping Hands or its agents for quality control and training purposes, or
        for
        its own
        protection.</p>
      <p>Helping Hands&#39;s administrator(s) may scan and analyze the contents of any message sent through its messages
        platform,
        including messages between users, to detect and prevent fraudulent activity or violations of Helping Hands&#39;s
        User
        Agreement, including the incorporated terms, notices, rules, and policies. This scanning and analysis may occur
        before, during, or after the message is sent, or while in storage, and may result in your message being delayed
        or
        withheld. Helping Hands may store message contents, including to conduct this scanning and analysis.</p>
      <h3>Privacy of Others; Marketing</h3>
      <p>If Helping Hands provides you with information about another user, you agree you will use the information only
        for
        the
        purposes that it is provided to you. You may not disclose, sell, rent, or distribute a user&#39;s information to
        a
        third party for purposes unrelated to our Services. Additionally, you may not use user information for marketing
        purposes, via electronic or other means, unless you obtain the consent of the specific user to do so.</p>
      <h2><a id="9" name="9"></a>9. Disclaimer of Warranties; Limitation of Liability</h2>
      <p>We try to keep our Services safe, secure, and functioning properly, but we cannot guarantee the continuous
        operation
        of or access to our Services. Bid update and other notification functionality in Helping Hands&#39;s
        applications may
        not occur
        in real time. Such functionality is subject to delays beyond Helping Hands&#39;s control.</p>
      <p>You agree that you are making use of our Services at your own risk, and that they are being provided to you on
        an
        &quot;AS IS&quot; and &quot;AS AVAILABLE&quot; basis. Accordingly, to the extent permitted by applicable law, we
        exclude all express or implied warranties, terms and conditions including, but not limited to, implied
        warranties of
        merchantability, fitness for a particular purpose, and non-infringement.</p>
      <p>In addition, to the extent permitted by applicable law, we (including our parent, subsidiaries, and affiliates,
        and
        our and their officers, directors, agents and employees) are not liable, and you agree not to hold us
        responsible, for
        any damages or losses (including, but not limited to, loss of money, goodwill or reputation, profits, other
        intangible
        losses, or any special, indirect, or consequential damages) resulting directly or indirectly from:</p>
      <ul>
        <li>the content you provide (directly or indirectly) using our Services;</li>
        <li>your use of or your inability to use our Services;</li>
        <li>pricing, shipping, format, or other guidance provided by Helping Hands;</li>
        <li>delays or disruptions in our Services;</li>
        <li>viruses or other malicious software obtained by accessing or linking to our Services;</li>
        <li>glitches, bugs, errors, or inaccuracies of any kind in our Services;</li>
        <li>damage to your hardware device from the use of any Helping Hands Service;</li>
        <li>the content, actions, or inactions of third parties, including items listed using our Services or the
          destruction
          of allegedly fake items;</li>
        <li>a suspension or other action taken with respect to your account or breach of the Abusing Helping Hands
          Section
          above;</li>
        <li>the duration or manner in which your listings appear in search results as set out in the Listing Conditions
          Section above; or</li>
        <li>your need to modify practices, content, or behavior, or your loss of or inability to do business, as a
          result of
          changes to this User Agreement or our policies.</li>
      </ul>
      <p>Some jurisdictions do not allow the disclaimer of warranties or exclusion of damages, so such disclaimers and
        exclusions may not apply to you.</p>
      <h2><a id="10" name="10"></a>10. Release</h2>
      <p>If you have a dispute with one or more users, you release us (and our affiliates and subsidiaries, and our and
        their
        respective officers, directors, employees and agents) from claims, demands and damages (actual and
        consequential) of
        every kind and nature, known and unknown, arising out of or in any way connected with such disputes. <strong>In
          entering into this release you expressly waive any protections (whether statutory or otherwise) that would
          otherwise
          limit the coverage of this release to include only those claims which you may know or suspect to exist in your
          favor
          at the time of agreeing to this release.</strong></p>
      <h2><a id="11" name="11"></a>11. Indemnity</h2>
      <p>You will indemnify and hold us (including our affiliates and subsidiaries, as well as our and their respective
        officers, directors, employees, agents) harmless from any claim or demand, including reasonable legal fees, made
        by
        any third party due to or arising out of your breach of this User Agreement, your improper use of our Services
        or your
        breach of any law or the rights of a third party.</p>
      <h2><a id="12" name="12"></a>12. Legal Disputes</h2>
      <p><strong>PLEASE READ THIS SECTION CAREFULLY. IT AFFECTS YOUR RIGHTS AND WILL HAVE A SUBSTANTIAL IMPACT ON HOW
          CLAIMS
          YOU AND Helping Hands HAVE AGAINST EACH OTHER ARE RESOLVED.</strong></p>
      <p><strong>In this Legal Disputes Section, the term &ldquo;related third parties&rdquo; includes your and Helping
          Hands&rsquo;s
          respective affiliates, subsidiaries, parent companies, predecessors, successors, assigns, as well as your,
          Helping Hands&rsquo;s, and these entities&rsquo; respective employees and agents.</strong></p>
      <p><strong>You and Helping Hands agree that any claim or dispute at law or equity that has arisen, or may arise,
          between
          you and
          Helping Hands (or any related third parties) that relates in any way to or arises out of this or previous
          versions
          of this
          User Agreement, your use of or access to the Services, the actions of Helping Hands or its agents, or any
          products
          or
          services donated or requested through the Services, will be resolved in accordance with the provisions set
          forth in
          this Legal Disputes Section.</strong></p>
      <h3>A. Applicable Law</h3>
      <p>You agree that, except to the extent inconsistent with or preempted by federal law, the laws of the State of
        Utah,
        without regard to principles of conflict of laws, will govern this User Agreement and any claim or dispute that
        has
        arisen or may arise between you and Helping Hands, except as otherwise stated in this User Agreement.</p>
      <h3><a id="B. Agreement" name="B. Agreement"></a>B. Agreement to Arbitrate</h3>
      <p><strong>You and Helping Hands each agree that any and all disputes or claims that have arisen, or may arise,
          between
          you and
          Helping Hands (or any related third parties) that relate in any way to or arise out of this or previous
          versions of
          the User
          Agreement, your use of or access to our Services, the actions of Helping Hands or its agents, or any products
          or
          services
          donated, offered, or requested through our Services shall be resolved exclusively through final and binding
          arbitration, rather than in court. Alternatively, you may assert your claims in small claims court, if your
          claims
          qualify and so long as the matter remains in such court and advances only on an individual (non-class,
          non-representative) basis. The Federal Arbitration Act governs the interpretation and enforcement of this
          Agreement
          to Arbitrate.</strong></p>
      <ol>
        <li><strong>Prohibition of Class and Representative Actions and Non-Individualized Relief</strong>
          <p><strong>YOU AND Helping Hands AGREE THAT EACH OF US MAY BRING CLAIMS AGAINST THE OTHER ONLY ON AN
              INDIVIDUAL
              BASIS AND NOT
              AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS, OR REPRESENTATIVE OR PRIVATE ATTORNEY GENERAL
              ACTION OR
              PROCEEDING. UNLESS BOTH YOU AND Helping Hands AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE OR JOIN
              MORE
              THAN ONE
              PERSON&#39;S OR PARTY&#39;S CLAIMS, AND MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A CONSOLIDATED,
              REPRESENTATIVE, CLASS, OR PRIVATE ATTORNEY GENERAL ACTION OR PROCEEDING. ALSO, THE ARBITRATOR MAY AWARD
              RELIEF
              (INCLUDING MONETARY, INJUNCTIVE, AND DECLARATORY RELIEF) ONLY IN FAVOR OF THE INDIVIDUAL PARTY SEEKING
              RELIEF
              AND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF NECESSITATED BY THAT PARTY&#39;S INDIVIDUAL CLAIM(S).
              ANY
              RELIEF AWARDED CANNOT AFFECT OTHER USERS.</strong> If a court decides that applicable law precludes
            enforcement
            of any of this paragraph&#39;s limitations as to a particular claim or a particular request for a remedy
            (such as
            a request for injunctive relief), then that claim or that remedy request (and only that claim or that remedy
            request) must be severed from the arbitration and may be brought in court, subject to your and Helping
            Hands&#39;s
            right to
            appeal the court&#39;s decision. All other claims will be arbitrated.</p>
        </li>
        <li><strong>Arbitration Procedures</strong>
          <p>Arbitration is more informal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of a
            judge or
            jury, and court review of an arbitration award is very limited. However, an arbitrator can award the same
            damages
            and relief on an individualized basis that a court can award to an individual. An arbitrator should apply
            the
            terms of the User Agreement as a court would. All issues are for the arbitrator to decide, except that
            issues
            relating to arbitrability, the scope or enforceability of this Agreement to Arbitrate, or the interpretation
            of
            Section 1 of this Agreement to Arbitrate (&quot;Prohibition of Class and Representative Actions and
            Non-Individualized Relief&quot;), shall be for a court of competent jurisdiction to decide.</p>
          <p>The arbitration will be conducted by the American Arbitration Association (&quot;AAA&quot;) under its rules
            and
            procedures, including the AAA&#39;s Consumer Arbitration Rules and the AAA&rsquo;s Commercial Arbitration
            Rules
            (as applicable), as modified by this Agreement to Arbitrate. The AAA&#39;s rules are available at <a
              href="http://www.adr.org/" target="_blank">www.adr.org</a>. In the event that the AAA is unavailable to
            administer the arbitration, another administrator will be selected by the parties or the court.</p>
          <p>A party who intends to seek arbitration must first send to the other, by certified mail, a valid Notice of
            Dispute (&quot;Notice&quot;) To be valid, you must personally sign the Notice and complete all information
            on the
            Notice form, including a description of the nature and basis of the claims you are asserting, the specific
            relief
            sought, and the email address and phone number associated with your account.</p>
          <p>If you and Helping Hands are unable to resolve the claims described in a valid Notice within 30 days after
            Helping Hands receives
            that Notice, you or Helping Hands may initiate arbitration proceedings. A form for initiating arbitration
            proceedings is
            available on the AAA&#39;s site at www.adr.org. In addition to filing this form with the AAA in accordance
            with
            its rules and procedures, the party initiating the arbitration must mail a copy of the completed form to the
            opposing party. You may send a copy to Helping Hands.
            In the event Helping Hands initiates an arbitration against you, it will send a copy of the completed form
            to the
            physical address we have on file associated with your Helping Hands account. Any settlement
            offer made by you or Helping Hands shall not be disclosed to the arbitrator.</p>
          <p>The arbitration hearing shall be held in the county in which you reside or at another mutually agreed
            location.
            Where no disclosed claims or counterclaims exceed $25,000, the dispute shall be resolved by the submission
            of
            documents only, subject to the arbitrator&#39;s discretion to require an in-person hearing, if the
            circumstances
            warrant. In cases where an in-person hearing is held, you and/or Helping Hands may attend by telephone,
            unless the
            arbitrator requires otherwise.</p>
          <p>The arbitrator will decide the substance of all claims in accordance with applicable law, including
            recognized
            principles of equity, and will honor all claims of privilege recognized by law. The arbitrator shall not be
            bound
            by rulings in prior arbitrations involving different users, but is bound by rulings in prior arbitrations
            involving the same Helping Hands user to the extent required by applicable law. The arbitrator&#39;s award
            shall
            be final
            and binding and judgment on the award rendered by the arbitrator may be entered in any court having
            jurisdiction
            thereof.</p>
        </li>
        <li><strong>Costs of Arbitration</strong>
          <p>Payment of all filing, administration and arbitrator fees will be governed by the AAA&#39;s rules, unless
            otherwise stated in this Agreement to Arbitrate. If you complied with the Notice of Dispute procedures of
            Section
            2 of this Agreement (&quot;Arbitration Procedures&quot;) and the value of the relief sought is $10,000 or
            less, at
            your request, Helping Hands will pay all administration and arbitrator fees associated with the arbitration.
            Any
            request
            for payment of fees by Helping Hands should be submitted by mail to the AAA along with your Demand for
            Arbitration
            and Helping Hands
            will make arrangements to pay administration and arbitrator fees directly to the AAA. In the event the
            arbitrator
            determines the claim(s) you assert in the arbitration to be frivolous, you agree to reimburse Helping Hands
            for
            all fees
            associated with the arbitration paid by Helping Hands on your behalf that you otherwise would be obligated
            to pay
            under the
            AAA&#39;s rules.</p>
        </li>
        <li><strong>Severability</strong>
          <p>With the exception of any of the provisions in Section 1 of this Agreement to Arbitrate (&quot;Prohibition
            of
            Class and Representative Actions and Non-Individualized Relief&quot;), if an arbitrator or court decides
            that any
            part of this Agreement to Arbitrate is invalid or unenforceable, the other parts of this Agreement to
            Arbitrate
            shall still apply.</p>
        </li>
        <li><strong>Opt-Out Procedure</strong>
          <p><strong>IF YOU ARE A NEW USER OF OUR SERVICES, YOU CAN CHOOSE TO REJECT THIS AGREEMENT TO ARBITRATE
              (&quot;OPT-OUT&quot;) BY MAILING US A WRITTEN OPT-OUT NOTICE (&quot;OPT-OUT NOTICE&quot;). THE OPT-OUT
              NOTICE
              MUST BE POSTMARKED NO LATER THAN 30 DAYS AFTER THE DATE YOU ACCEPT THE USER AGREEMENT FOR THE FIRST TIME.
              YOU
              MUST MAIL THE OPT-OUT NOTICE TO helpinghands@gmail.com</strong></p>
          <p>You must complete the Opt-Out
            Notice form by providing the information called for in the form, including your name, address (including
            street
            address, city, state and zip code), and the user ID(s) and email address(es) associated with the Helping
            Hands
            Service
            account(s) to which the opt-out applies. You must sign the Opt-Out Notice for it to be effective. This
            procedure
            is the only way you can opt out of the Agreement to Arbitrate. If you opt out of the Agreement to Arbitrate,
            all
            other parts of this User Agreement and its Legal Disputes Section will continue to apply to you. Opting out
            of
            this Agreement to Arbitrate has no effect on any previous, other, or future arbitration agreements that you
            may
            have with us.</p>
        </li>
        <li><strong>Future Amendments to the Agreement to Arbitrate</strong>
          <p>Notwithstanding any provision in the User Agreement to the contrary, you and we agree that if we make any
            amendment to this Agreement to Arbitrate (other than an amendment to any notice address or site link
            provided
            herein) in the future, that amendment shall not apply to any claim that was filed in a legal proceeding
            against
            Helping Hands prior to the effective date of the amendment. The amendment shall apply to all other disputes
            or
            claims
            governed by the Agreement to Arbitrate that have arisen or may arise between you and Helping Hands. We will
            notify
            you of
            amendments to this Agreement to Arbitrate by posting the amended terms on www.HelpingHands.com at least 30
            days
            before the
            effective date of the amendments and by providing notice through the Helping Hands Message Center and/or by
            email.
            If you
            do not agree to these amended terms, you may close your account within the 30-day period and you will not be
            bound
            by the amended terms.</p>
        </li>
      </ol>
      <h3>C. Judicial Forum for Legal Disputes</h3>
      <p>Unless you and we agree otherwise, in the event that the Agreement to Arbitrate above is found not to apply to
        you or
        to a particular claim or dispute, either as a result of your decision to opt out of the Agreement to Arbitrate
        or as a
        result of a decision by the arbitrator or a court order, you agree that any claim or dispute that has arisen or
        may
        arise between you and Helping Hands must be resolved exclusively by a state or federal court located in Salt
        Lake
        County, Utah.
        You and Helping Hands agree to submit to the personal jurisdiction of the courts located within Salt Lake
        County, Utah
        for the
        purpose of litigating all such claims or disputes.</p>
      <h2><a id="19" name="19"></a>19. General</h2>
      <p>Except as otherwise provided in this User Agreement, if any provision of this User Agreement is held to be
        invalid,
        void or for any reason unenforceable, such provision shall be struck out and shall not affect the validity and
        enforceability of the remaining provisions. In our sole discretion, we may assign this User Agreement, and in
        such
        event, we will post notice on <a href="https://www.HelpingHands.com/">www.HelpingHands.com</a>.
      </p>
      <p>Headings are for reference purposes only and do not limit the scope or extent of such Section. Our failure to
        act
        with respect to a breach by you or others does not waive our right to act with respect to subsequent or similar
        breaches. We do not guarantee we will take action against all breaches of this User Agreement.</p>
      <p>We may amend this User Agreement at any time by posting the amended terms on <a
          href="https://www.HelpingHands.com/">www.HelpingHands.com</a>. Our right to
        amend the
        User Agreement includes the right to modify, add to, or remove terms in the User Agreement. We will provide you
        30
        days&#39; notice by posting the amended terms. Additionally, we will notify you through the Helping Hands
        Message
        Center and/or
        by email. Your continued access or use of our Services constitutes your acceptance of the amended terms. We may
        also
        ask you to acknowledge your acceptance of the User Agreement through an electronic click-through. This User
        Agreement
        may not otherwise be amended except through mutual agreement by you and an Helping Hands representative who
        intends to
        amend
        this User Agreement and is duly authorized to agree to such an amendment.</p>
      <p>The policies and terms posted on our Services may be changed from time to time. Changes take effect when we
        post them
        on the Helping Hands Service.</p>
      <p>If you create or use an account on behalf of a business entity, you represent that you are authorized to act on
        behalf of such business and bind the business to this User Agreement. Such account is owned and controlled by
        the
        business entity. No agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship
        is
        intended or created by this User Agreement.</p>
      <p>The User Agreement and all terms and polices posted through our Services set forth the entire understanding and
        agreement between you and Helping Hands, and supersede all prior understandings and agreements of the parties.
      </p>
      <p>The following Sections survive any termination of this User Agreement: Fees, Content, Disclaimer of Warranties;
        Limitation of Liability; Release, Indemnity, Legal Disputes, and General.</p>
      <p>If you are a California resident, in accordance with Cal. Civ. Code &sect;1789.3, you may report complaints to
        the
        Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs
        by
        contacting them in writing at 400 R Street, Sacramento, CA 95814, or by telephone at (800) 952-5210.</p>
      <p>Pursuant to 815 ILCS 414/1.5(c), for transactions involving tickets to events in Illinois, recipients and
        donors may
        elect to submit complaints against one another to the American Arbitration Association (&quot;AAA&quot;) under
        its
        rules and procedures. The AAA&#39;s rules are available at <a href="http://www.adr.org/"
          target="_blank">www.adr.org</a>. Such complaints shall be decided by an independent arbitrator in accordance
        with
        this User Agreement. recipients and donors further agree to submit to the jurisdiction of the State of Illinois
        for
        complaints involving a ticketed event held in Illinois.</p>
      <div>
        <h2><a id="Previous User Agreement" name="Previous User Agreement"></a>Previous User Agreement
        </h2>
        <div>
          <p><strong>This User Agreement is effective upon acceptance for new users, and from March 27, 2020
              for
              existing users. </strong></p>
          <h3>Introduction</h3>
          <p>This User Agreement, sets out the terms on which Helping Hands offers you access to and
            use of our Services. You agree to comply with all terms of this User Agreement when accessing or using our
            Services.</p>
          <p>The entity you are contracting with is: Helping Hands Inc., Stevens Institue of Technology, NJ 07306.
            In this User Agreement, this entity is individually referred to as &quot;<strong>Helping
              Hands</strong>,&quot;
            &quot;<strong>we</strong>,&quot; or
            &quot;<strong>us</strong>.&quot;</p>
          <p><strong>Please be advised that this User Agreement contains provisions that govern how claims you and we
              have
              against each other are resolved (see &quot;Disclaimer of Warranties; Limitation of Liability&quot; and
              &quot;Legal Disputes&quot; provisions below). It also contains an Agreement to Arbitrate which will, with
              limited exception, require you to submit claims you have against us or our agents to binding and final
              arbitration, unless you opt out of the Agreement to Arbitrate (see <a href="#B">Legal Disputes, Section
                B</a>
              (&quot;Agreement to Arbitrate&quot;)). If you do not opt out: (1) you will only be permitted to pursue
              claims
              against us or our agents on an individual basis, not as a plaintiff or class member in any class or
              representative action or proceeding and (2) you will only be permitted to seek relief (including monetary,
              injunctive, and declaratory relief) on an individual basis.</strong></p>
          <h3>About Helping Hands</h3>
          <p>Helping Hands is a platform that allows users to offer as donation and request just about anything in a
            variety
            of
            locations. The actual contract for exchange/donation is directly between the donor and recipient. Helping
            Hands is
            not
            a traditional marketplace.</p>
          <p>Any guidance we provide as part of our Services, such as pricing, shipping, listing, and sourcing is solely
            informational and you may decide to follow it or not. Also, while we may help facilitate the resolution of
            disputes through various programs, Helping Hands has no control over and does not guarantee: the existence,
            quality, safety
            or legality of items advertised; the truth or accuracy of users&#39; content or listings; the ability of
            donors
            to sell items; the ability of recipients to pickup items; or that a recipient or donor will actually
            complete a
            "transaction".</p>
          <h3>Using Helping Hands</h3>
          <p>The actual contract for sale is directly between the donor and recipient. Helping Hands is not
            a traditional marketplace.</p>
          <p>Any guidance we provide as part of our Services, such as pricing, shipping, listing, and sourcing is solely
            informational and you may decide to follow it or not. Also, while we may help facilitate the resolution of
            disputes through various programs, Helping Hands has no control over and does not guarantee: the existence,
            quality, safety
            or legality of items advertised; the truth or accuracy of users&#39; content or listings; the ability of
            donors
            to sell items; the ability of recipients to pay for items; or that a recipient or donor will actually
            complete a
            transaction or return an item.</p>
          <h3>Policy Enforcement</h3>
          <p>When a recipient or donor issue arises, we may consider the user&#39;s history and the specific
            circumstances in applying our policies. We may choose to be more lenient with policy enforcement in an
            effort to
            do the right thing for both recipients and donors.</p>
          <h3>Fees and Taxes</h3>
          <p>The fees we charge for using our Services are : $ 0.00
          <h3>Listing Conditions</h3>
          <p>When listing an item for sale on Helping Hands Services, you agree to comply with Helping Hands&#39;s
            Listing
            policies
            and requesting practices policy and that:
          </p>
          <ul>
            <li>You are responsible for the accuracy and content of the listing and item offered,</li>
            <li>Your listing may not be immediately searchable by keyword or category for several hours (or up to 24
              hours in
              some circumstances). Helping Hands can&#39;t guarantee exact listing durations,</li>
            <li>Content that violates any of Helping Hands&#39;s policies may be modified, obfuscated or deleted at
              Helping
              Hands&#39;s
              discretion,</li>
            <li>We may revise product data associated with listings to supplement, remove, or correct information,</li>
            <li>We strive to create a marketplace where recipients find what they are looking for. Therefore, the
              appearance
              or
              placement of listings in search and browse results will depend on a variety of factors, including, but not
              limited to:
              <ul>
                <li>recipient&#39;s location, search query, browsing site, and history;</li>
                <li>item&#39;s location, listing format and shipping cost, terms of service, end time, history, and
                  relevance to the user query;</li>
                <li>donor&#39;s history, including listing practices, Detailed donor Ratings, Helping Hands policy
                  compliance,
                  Feedback, and defect rate; and</li>
                <li>number of listings matching the recipient&#39;s query,</li>
              </ul>
            </li>
            <li>To drive a positive user experience, a listing may not appear in some search and browse results
              regardless of
              the sort order chosen by the recipient,</li>
            <li>Some advanced listing upgrades will only be visible on certain Services,</li>
            <li>Helping Hands&#39;s Duplicate listings Policy may also affect whether your listing appears in search
              results
            </li>
            <li>Metatags and URL links that are included in a listing may be removed or altered so as to not affect
              third-party search engine results,</li>
            <li>We may provide you with optional recommendations to consider when creating your listings. Such
              recommendations
              may be based on the aggregated sales and performance history of similar donated and current listings;
              results
              will
              vary for individual listings. To drive the recommendations experience, you agree that we may display the
              sales
              and performance history of your individual listings to those of other donors.</li>
          </ul>
          <h3>Conditions</h3>
          <p>When requesting/donating an item on Helping Hands Services, you agree to the Rules and policies for
            recipients and donors, and
            that:</p>
          <ul>
            <li>You are responsible for reading the full item listing before making a bid or commitment to buy,</li>
            <li>You enter into a legally binding contract to requeste an item when you commit to buy an item, your offer
              for
              an item is accepted, or if you have the winning bid (or your bid is otherwise accepted),</li>
            <li>For motor vehicles and real estate, a bid or offer initiates a non-binding transaction representing a
              recipient&#39;s serious expression of interest in donation the donor&#39;s item and does not create a
              formal
              contract
              between the recipient and the donor,</li>
            <li>We do not transfer legal ownership of items from the donor to the recipient,</li>
            <li>Utah Code Annotated &sect; 70A-2-401(2) and Uniform Commercial Code &sect; 2-401(2) apply to the
              transfer of
              ownership between the recipient and the donor, unless the recipient and the donor agree otherwise.</li>
          </ul>
          <h3>Content</h3>
          <p>When you provide content using the Services (directly or indirectly), you grant us a non-exclusive,
            worldwide,
            perpetual, irrevocable, royalty-free, sublicensable (through multiple tiers) right to exercise any and all
            Intellectual Property Rights you have in that content in connection with our provision, expansion, and
            promotion
            of the Services, in any media known now or developed in the future. To the fullest extent permitted under
            applicable law, you waive your right to enforce your Intellectual Property Rights in that content against
            Helping
            Hands,
            our assignees, our sublicensees, and their assignees in connection with our, those assignees&#39;, and those
            sublicensees&#39; use of that content in connection with our provision, expansion, and promotion of the
            Services.
          </p>
          <p>You represent and warrant that, for all such content you provide, you own or otherwise control all
            necessary
            rights to do so and to meet your obligations under this User Agreement. You represent and warrant that such
            content is accurate. You represent and warrant that use of any such content (including derivative works) by
            us,
            our users, or others in contract with us, and in compliance with this User Agreement, does not and will not
            infringe any Intellectual Property Rights of any third party. Helping Hands takes no responsibility and
            assumes no
            liability for any content provided by you or any third party.</p>
          <p>We offer product data (including images, descriptions and specifications) that are provided by third
            parties
            (including Helping Hands users). You may use that content solely in your Helping Hands listings. Helping
            Hands may
            modify or revoke that
            permission at any time in our sole discretion. The product data includes copyrighted, trademarked and other
            proprietary materials. You agree not to remove any copyright, proprietary, or identification markings in the
            product data and not to create any derivative works based on that data (other than by including the data in
            your
            listings).</p>
          <p>We try to offer reliable product data, but cannot promise that the content provided through the Services
            will
            always be available, accurate, complete, and up-to-date. You agree that Helping Hands is not responsible for
            examining or
            warranting the listings or content provided by third parties through the Services, and that you will not
            attempt
            to hold us or our data providers liable for inaccuracies. As a donor, you agree to ensure that content
            directly
            associated with your listings is accurate.</p>
          <p>The name &quot;Helping Hands&quot; and other Helping Hands marks, logos, designs, and phrases that we use
            in
            connection with our
            Services are trademarks, service marks, or trade dress of Helping Hands in the U.S. and other countries.
            They may
            not be
            used without the express written prior permission of Helping Hands.</p>
          <h3>Notice for Claims of Intellectual Property Violations and Copyright Infringement
            Pursuant to Section 512(c) of Title 17 of the United States Code </h3>
          <p>We respond to notices of alleged copyright infringement under the United States Digital Millennium
            Copyright Act.
            Helping Hands&#39;s Verified Rights Owner (VeRO) program works to ensure that listed items and content on
            our site
            or in
            our apps do not infringe upon the copyright, trademark, or certain other intellectual property rights of
            third
            parties. If you believe that your intellectual property rights have been infringed, please notify our VeRO
            team
            and we will investigate.
          </p>
          <p>Helping Hands may share your telephone number with its authorized service providers as stated in our User
            Privacy
            Notice.
            These service providers may contact you using autodialed or prerecorded calls and text messages, only as
            authorized by Helping Hands to carry out the purposes identified above.</p>
          <p>Helping Hands may, without further notice or warning and in its discretion, monitor or record telephone
            conversations you
            or anyone acting on your behalf has with Helping Hands or its agents for quality control and training
            purposes, or
            for its
            own protection.</p>
          <p>Helping Hands&#39;s automated systems scan and analyze the contents of every message sent through its
            messages
            platform,
            including messages between users, to detect and prevent fraudulent activity or violations of Helping
            Hands&#39;s
            User
            Agreement, including the incorporated terms, notices, rules, and policies. This scanning and analysis may
            occur
            before, during, or after the message is sent, or while in storage, and may result in your message being
            delayed or
            withheld. Helping Hands may store message contents, including to conduct this scanning and analysis.</p>
          <h3>Privacy of Others; Marketing</h3>
          <p>If Helping Hands provides you with information about another user, you agree you will use the information
            only
            for the purposes that it is provided to you. You may not disclose, sell, rent, or distribute a user&#39;s
            information to a
            third party for purposes unrelated to the Services. Additionally, you may not use user information for
            marketing
            purposes, via electronic or other means, unless you obtain the consent of the specific user to do so.</p>
          <h3>Additional Terms </h3>
          <a id="Returns_prev" name="Returns_prev"></a>
          <ul>
            <li><strong>Returns and Cancellations</strong><br />
              donors can create rules to automate replacements and returns under certain circumstances. For all new
              donors, in listings where returns are accepted, Helping Hands will set a default rule that automates the
              return
              process. Donors may remove or customize their return preferences in their account settings within My
              Helping
              Hands.
              Where settings have been set to automatically accept requests for returns or replacements, a Helping
              Hands-generated
              return shipping label will be provided to your recipient. You agree to comply with our returns policy.
              The cost of return shipping for an item that is not as described is the donor&#39;s responsibility.<br />
              You (as donor) authorize Helping Hands to place the return shipping label cost on your invoice when:
              <ul>
                <li>An Helping Hands-generated return shipping label is used, and the donor is responsible for its cost;
                </li>
                <li>Returns have been automated;</li>
                <li>You fail to send your recipient a return shipping label and, instead, an Helping Hands-generated
                  shipping
                  label is
                  used; and/or</li>
              </ul>
            </li>
            <li>You may seek <a href="#Returns_prev">returns or cancellations</a> on Helping Hands Services, or alert us
              about
              suspicious activity on Helping Hands Services via e-mail
            </li>
            <li>You agree to comply with, and not cause a third party to violate, all applicable laws, regulations,
              rules
              and terms and conditions in connection with the use of managed payments. You understand that some third
              parties, such as credit and debit card issuers, credit and debit card networks and payments services
              providers, may have their own terms and conditions for the payment or settlement methods you choose to use
              in connection with managed payments transactions. Failure to abide by third party terms and conditions may
              result in fees assessed to you (for example, currency conversion fees from your credit card issuer if the
              transaction currency is different from your credit card currency) or other actions taken by such third
              parties, and you agree that the payments entity has no control over, or responsibility or liability for,
              such fees or actions</li>
          </ul>
          </li>
          </ul>
          <h3>Disclaimer of Warranties; Limitation of Liability </h3>
          <p>We try to keep our Services safe, secure, and functioning properly, but we cannot guarantee the continuous
            operation of or access to our Services. Bid update and other notification functionality in Helping
            Hands&#39;s
            applications
            may not occur in real time. Such functionality is subject to delays beyond Helping Hands&#39;s control.</p>
          <p>You agree that you are making use of our Services at your own risk, and that they are being provided to you
            on an
            &quot;AS IS&quot; and &quot;AS AVAILABLE&quot; basis. Accordingly, to the extent permitted by applicable
            law, we
            exclude all express or implied warranties, terms and conditions including, but not limited to, implied
            warranties
            of merchantability, fitness for a particular purpose, and non-infringement.</p>
          <p>In addition, to the extent permitted by applicable law, we (including our parent, subsidiaries, and
            affiliates,
            and our and their officers, directors, agents and employees) are not liable, and you agree not to hold us
            responsible, for any damages or losses (including, but not limited to, loss of money, goodwill or
            reputation,
            profits, other intangible losses, or any special, indirect, or consequential damages) resulting directly or
            indirectly from:</p>
          <ul>
            <li>the content you provide (directly or indirectly) using the Services;</li>
            <li>your use of or your inability to use our Services;</li>
            <li>pricing, shipping, format, or other guidance provided by Helping Hands;</li>
            <li>delays or disruptions in our Services;</li>
            <li>viruses or other malicious software obtained by accessing or linking to our Services;</li>
            <li>glitches, bugs, errors, or inaccuracies of any kind in our Services;</li>
            <li>damage to your hardware device from the use of any Helping Hands Service;</li>
            <li>the content, actions, or inactions of third parties, including items listed using our Services or the
              destruction of allegedly fake items;</li>
            <li>a suspension or other action taken with respect to your account or breach of the Abusing Helping Hands
              Section
              above;
            </li>
            <li>the duration or manner in which your listings appear in search results as set out in the Listing
              Conditions
              Section above; or</li>
            <li>your need to modify practices, content, or behavior, or your loss of or inability to do business, as a
              result
              of changes to this User Agreement or our policies.</li>
          </ul>
          <p>Some jurisdictions do not allow the disclaimer of warranties or exclusion of damages, so such disclaimers
            and
            exclusions may not apply to you.</p>
          <p>Regardless of the previous paragraphs, if we are found to be liable, our liability to you or to any third
            party
            is limited to the amount of $100.</p>
          <h3>Release </h3>
          <p>If you have a dispute with one or more users, you release us (and our affiliates and subsidiaries, and our
            and
            their respective officers, directors, employees and agents) from claims, demands and damages (actual and
            consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such
            disputes. <strong>In entering into this release you expressly waive any protections (whether statutory or
              otherwise) that would otherwise limit the coverage of this release to include only those claims which you
              may
              know or suspect to exist in your favor at the time of agreeing to this release.</strong></p>
          <h3>Indemnity</h3>
          <p>You will indemnify and hold us (including our affiliates and subsidiaries, as well as our and their
            respective
            officers, directors, employees, agents) harmless from any claim or demand, including reasonable legal fees,
            made
            by any third party due to or arising out of your breach of this User Agreement, your improper use of Helping
            Hands&#39;s
            Services or your breach of any law or the rights of a third party.</p>
          <h3>Legal Disputes</h3>
          <p><strong>PLEASE READ THIS SECTION CAREFULLY. IT AFFECTS YOUR RIGHTS AND WILL HAVE A SUBSTANTIAL IMPACT ON
              HOW
              CLAIMS YOU AND Helping Hands HAVE AGAINST EACH OTHER ARE RESOLVED.</strong></p>
          <p><strong>You and Helping Hands agree that any claim or dispute at law or equity that has arisen, or may
              arise,
              between you
              and Helping Hands (including any claim or dispute between you and a third-party agent of Helping Hands)
              that
              relates in any way to
              or arises out of this or previous versions of this User Agreement, your use of or access to the Services,
              the
              actions of Helping Hands or its agents, or any products or services donated or requested through the
              Services,
              will
              be
              resolved in accordance with the provisions set forth in this Legal Disputes Section.</strong></p>
          <p><strong>A. Applicable Law</strong></p>
          <p>You agree that, except to the extent inconsistent with or preempted by federal law, the laws of the State
            of
            Utah, without regard to principles of conflict of laws, will govern this User Agreement and any claim or
            dispute
            that has arisen or may arise between you and Helping Hands, except as otherwise stated in this User
            Agreement.</p>
          <p><strong><a id="B" name="B"></a>B. Agreement to Arbitrate</strong></p>
          <p><strong>You and Helping Hands each agree that any and all disputes or claims that have arisen, or may
              arise,
              between you
              and Helping Hands (including any disputes or claims between you and a third-party agent of Helping Hands)
              that
              relate in any way
              to or arise out of this or previous versions of the User Agreement, your use of or access to the Services,
              the
              actions of Helping Hands or its agents, or any products or services donated, offered, or requested through
              the
              Services
              shall be resolved exclusively through final and binding arbitration, rather than in court. Alternatively,
              you
              may assert your claims in small claims court, if your claims qualify and so long as the matter remains in
              such
              court and advances only on an individual (non-class, non-representative) basis. The Federal Arbitration
              Act
              governs the interpretation and enforcement of this Agreement to Arbitrate.</strong></p>
          <ol>
            <li><strong>Prohibition of Class and Representative Actions and Non-Individualized Relief</strong>
              <p><strong>YOU AND Helping Hands AGREE THAT EACH OF US MAY BRING CLAIMS AGAINST THE OTHER ONLY ON AN
                  INDIVIDUAL
                  BASIS AND
                  NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS, OR REPRESENTATIVE OR PRIVATE ATTORNEY
                  GENERAL
                  ACTION OR PROCEEDING. UNLESS BOTH YOU AND Helping Hands AGREE OTHERWISE, THE ARBITRATOR MAY NOT
                  CONSOLIDATE
                  OR JOIN
                  MORE THAN ONE PERSON&#39;S OR PARTY&#39;S CLAIMS, AND MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A
                  CONSOLIDATED, REPRESENTATIVE, CLASS, OR PRIVATE ATTORNEY GENERAL ACTION OR PROCEEDING. ALSO, THE
                  ARBITRATOR
                  MAY AWARD RELIEF (INCLUDING MONETARY, INJUNCTIVE, AND DECLARATORY RELIEF) ONLY IN FAVOR OF THE
                  INDIVIDUAL
                  PARTY SEEKING RELIEF AND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF NECESSITATED BY THAT
                  PARTY&#39;S
                  INDIVIDUAL CLAIM(S). ANY RELIEF AWARDED CANNOT AFFECT OTHER USERS.</strong> If a court decides that
                applicable law precludes enforcement of any of this paragraph&#39;s limitations as to a particular claim
                for
                relief, then that claim (and only that claim) must be severed from the arbitration and may be brought in
                court, subject to your and Helping Hands&#39;s right to appeal the court&#39;s decision. All other
                claims will
                be
                arbitrated.</p>
            </li>
            <li><strong>Arbitration Procedures</strong>
              <p>Arbitration is more informal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of
                a
                judge or jury, and court review of an arbitration award is very limited. However, an arbitrator can
                award the
                same damages and relief on an individual basis that a court can award to an individual. An arbitrator
                should
                apply the terms of the User Agreement as a court would. All issues are for the arbitrator to decide,
                except
                that issues relating to arbitrability, the scope or enforceability of this Agreement to Arbitrate, or
                the
                interpretation of Section 1 of this Agreement to Arbitrate (&quot;Prohibition of Class and
                Representative
                Actions and Non-Individualized Relief&quot;), shall be for a court of competent jurisdiction to decide.
              </p>
              <p>The arbitration will be conducted by the American Arbitration Association (&quot;AAA&quot;) under its
                rules
                and procedures, including the AAA&#39;s Consumer Arbitration Rules (as applicable), as modified by this
                Agreement to Arbitrate. The AAA&#39;s rules are available at <a href="http://www.adr.org/"
                  target="_blank">www.adr.org</a>. The use of the word &quot;arbitrator&quot; in this provision shall
                not be
                construed to prohibit more than one arbitrator from presiding over an arbitration; rather, the AAA&#39;s
                rules
                will govern the number of arbitrators that may preside over an arbitration conducted under this
                Agreement to
                Arbitrate.</p>
              <p>A party who intends to seek arbitration must first send to the other, by certified mail, a completed
                form
                Notice of Dispute (&quot;Notice&quot;). You may <a
                  href="http://p.Helping Handsstatic.com/aw/help/legal/Notice_of_Dispute.pdf" target="_blank">download a
                  form
                  Notice</a>. The Notice to Helping Hands should be
                sent to
                Helping Hands Inc., Attn: Litigation Department, Re: Notice of Dispute, 583 W. Helping Hands Way,
                Draper, UT
                84020. Helping Hands will
                send any Notice to you to the physical address we have on file associated with your Helping Hands
                account; it
                is your
                responsibility to keep your physical address up to date. All information called for in the Notice must
                be
                provided, including a description of the nature and basis of the claims the party is asserting and the
                relief
                sought.</p>
              <p>If you and Helping Hands are unable to resolve the claims described in the Notice within 30 days after
                the
                Notice is
                sent, you or Helping Hands may initiate arbitration proceedings. A form for initiating arbitration
                proceedings
                is
                available on the AAA&#39;s site at www.adr.org. In addition to filing this form with the AAA in
                accordance
                with its rules and procedures, the party initiating the arbitration must mail a copy of the completed
                form to
                the opposing party. You may send a copy to Helping Hands at the following address: Helping Hands, Inc.
                c/o CT
                Corporation
                System, 1108 E South Union Ave., Midvale, UT 84047. In the event Helping Hands initiates an arbitration
                against you, it
                will send a copy of the completed form to the physical address we have on file associated with your
                Helping
                Hands
                account. Any settlement offer made by you or Helping Hands shall not be disclosed to the arbitrator.</p>
              <p>The arbitration hearing shall be held in the county in which you reside or at another mutually agreed
                location. If the value of the relief sought is $10,000 or less, you or Helping Hands may elect to have
                the
                arbitration
                conducted by telephone or based solely on written submissions, which election shall be binding on you
                and
                Helping Hands
                subject to the arbitrator&#39;s discretion to require an in-person hearing, if the circumstances
                warrant. In
                cases where an in-person hearing is held, you and/or Helping Hands may attend by telephone, unless the
                arbitrator
                requires otherwise.</p>
              <p>The arbitrator will decide the substance of all claims in accordance with applicable law, including
                recognized principles of equity, and will honor all claims of privilege recognized by law. The
                arbitrator
                shall not be bound by rulings in prior arbitrations involving different users, but is bound by rulings
                in
                prior arbitrations involving the same Helping Hands user to the extent required by applicable law. The
                arbitrator&#39;s
                award shall be final and binding and judgment on the award rendered by the arbitrator may be entered in
                any
                court having jurisdiction thereof.</p>
            </li>
            <li><strong>Costs of Arbitration</strong>
              <p>Payment of all filing, administration and arbitrator fees will be governed by the AAA&#39;s rules,
                unless
                otherwise stated in this Agreement to Arbitrate. If the value of the relief sought is $10,000 or less,
                at your
                request, Helping Hands will pay all filing, administration, and arbitrator fees associated with the
                arbitration. Any
                request for payment of fees by Helping Hands should be submitted by mail to the AAA along with your
                Demand for
                Arbitration and Helping Hands will make arrangements to pay all necessary fees directly to the AAA. If
                (a) you
                willfully fail to comply with the Notice of Dispute requirement discussed above, or (b) in the event the
                arbitrator determines the claim(s) you assert in the arbitration to be frivolous, you agree to reimburse
                Helping Hands
                for all fees associated with the arbitration paid by Helping Hands on your behalf that you otherwise
                would be
                obligated
                to pay under the AAA&#39;s rules.</p>
            </li>
            <li><strong>Severability</strong>
              <p>With the exception of any of the provisions in Section 1 of this Agreement to Arbitrate
                (&quot;Prohibition of
                Class and Representative Actions and Non-Individualized Relief&quot;), if an arbitrator or court decides
                that
                any part of this Agreement to Arbitrate is invalid or unenforceable, the other parts of this Agreement
                to
                Arbitrate shall still apply.</p>
            </li>
            <li><strong>Opt-Out Procedure</strong>
              <p><strong>IF YOU ARE A NEW USER OF OUR SERVICES, YOU CAN CHOOSE TO REJECT THIS AGREEMENT TO ARBITRATE
                  (&quot;OPT-OUT&quot;) BY MAILING US A WRITTEN OPT-OUT NOTICE (&quot;OPT-OUT NOTICE&quot;). THE OPT-OUT
                  NOTICE CAN ALTERNATIVELY BE SENT TO US VIA EMAIL.
                </strong></p>
              <p>You must
                complete and mail that to us in order to opt out of the Agreement to Arbitrate. You must complete the
                Opt-Out
                Notice form by providing the information called for in the form, including your name, address (including
                street address, city, state and zip code), and the user ID(s) and email address(es) associated with the
                Helping Hands
                Service account(s) to which the opt-out applies. You must sign the Opt-Out Notice for it to be
                effective. This
                procedure is the only way you can opt out of the Agreement to Arbitrate. If you opt out of the Agreement
                to
                Arbitrate, all other parts of this User Agreement and its Legal Disputes Section will continue to apply
                to
                you. Opting out of this Agreement to Arbitrate has no effect on any previous, other, or future
                arbitration
                agreements that you may have with us.</p>
            </li>
            <li><strong>Future Amendments to the Agreement to Arbitrate</strong>
              <p>Notwithstanding any provision in the User Agreement to the contrary, you and we agree that if we make
                any
                amendment to this Agreement to Arbitrate (other than an amendment to any notice address or site link
                provided
                herein) in the future, that amendment shall not apply to any claim that was filed in a legal proceeding
                against Helping Hands prior to the effective date of the amendment. The amendment shall apply to all
                other
                disputes or
                claims governed by the Agreement to Arbitrate that have arisen or may arise between you and Helping
                Hands. We
                will
                notify you of amendments to this Agreement to Arbitrate by posting the amended terms on www.Helping
                Hands.com
                at least
                30 days before the effective date of the amendments and by providing notice through the Helping Hands
                Message
                Center
                and/or by email. If you do not agree to these amended terms, you may close your account within the
                30-day
                period and you will not be bound by the amended terms.</p>
            </li>
          </ol>
          <p><strong>C. Judicial Forum for Legal Disputes</strong></p>
          <p>Unless you and we agree otherwise, in the event that the Agreement to Arbitrate above is found not to apply
            to
            you or to a particular claim or dispute, either as a result of your decision to opt out of the Agreement to
            Arbitrate or as a result of a decision by the arbitrator or a court order, you agree that any claim or
            dispute
            that has arisen or may arise between you and Helping Hands must be resolved exclusively by a state or
            federal
            court located
            in Salt Lake County, Utah. You and Helping Hands agree to submit to the personal jurisdiction of the courts
            located within
            Salt Lake County, Utah for the purpose of litigating all such claims or disputes.</p>
          <h3><a id="13" name="13"></a>General</h3>
          <p>Except as otherwise provided in this User Agreement, if any provision of this User Agreement is held to be
            invalid, void or for any reason unenforceable, such provision shall be struck out and shall not affect the
            validity and enforceability of the remaining provisions. In our sole discretion, we may assign this User
            Agreement, and in such event, we will post notice on <a
              href="https://www.HelpingHands.com/">www.HelpingHands.com</a>.
          </p>
          <p>Headings are for reference purposes only and do not limit the scope or extent of such Section. Our failure
            to act
            with respect to a breach by you or others does not waive our right to act with respect to subsequent or
            similar
            breaches. We do not guarantee we will take action against all breaches of this User Agreement.</p>
          <p>We may amend this User Agreement at any time by posting the amended terms on www.HelpingHands.com. Our
            right to
            amend the
            User Agreement includes the right to modify, add to, or remove terms in the User Agreement. We will provide
            you 30
            days&#39; notice by posting the amended terms. Additionally, we will notify you by email. Your continued
            access
            or use of our Services constitutes your acceptance of the amended terms. We
            may also ask you to acknowledge your acceptance of the User Agreement through an electronic click-through.
            This
            User Agreement may not otherwise be amended except through mutual agreement by you and an Helping Hands
            representative who
            intends to amend this User Agreement and is duly authorized to agree to such an amendment.</p>
          <p>The policies and terms posted on our Services may be changed from time to time. Changes take effect when we
            post
            them on the Helping Hands Service.</p>
          <p>If you create or use an account on behalf of a business entity, you represent that you are authorized to
            act on
            behalf of such business and bind the business to this User Agreement. Such account is owned and controlled
            by the
            business entity. No agency, partnership, joint venture, employee-employer or franchiser-franchisee
            relationship is
            intended or created by this User Agreement.</p>
          <p>The User Agreement and all terms and polices posted through our Services set forth the entire understanding
            and
            agreement between you and Helping Hands, and supersede all prior understandings and agreements of the
            parties.</p>
          <p>The following Sections survive any termination of this User Agreement: Fees, Content, Disclaimer of
            Warranties;
            Limitation of Liability; Release, Indemnity, Legal Disputes, and General.
          </p>
        </div>
      </div>
    </div>
