<div class="container">
  <div class="container-fluid">
    {{#if (equal userRole 'admin')}}
      {{#if myDonations }}
        <h2>My Donations</h2>
        <div class="row row-cols-3 recent-donations">
          {{>donation_listing donations=myDonations}}
        </div>
      {{/if}}
      {{#if submittedDonations}}
        <h2>Pending For Review</h2>
        <div class="row row-cols-3 recent-donations">
          {{>donation_listing donations=submittedDonations}}
        </div>
      {{/if}}
      {{#if reviewedDonations}}
        <h2>Reviewed Donations</h2>
        <div class="row row-cols-3 recent-donations">
          {{>donation_listing donations=reviewedDonations}}
        </div>
      {{/if}}
    {{else}}
      {{#if (equal userRole 'donor')}}
        <div class="row row-cols-3 recent-donations">
          {{>donation_listing donations=myDonations}}
        </div>
      {{else}}
        <div class="row row-cols-3 recent-donations">
          {{>donation_listing donations=donations}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
