<div class="container3 text-center">
  <div class="row">
    <div class="col-sm">
      First donation
      <img class="d_p_img" src="public/images/do1.jpg" class="img-thumbnail" alt="chair" width="100">
    </div>
    <div class="col-sm">
      Second donation
      <img class="d_p_img" src="public/images/do2.jpg" class="img-thumbnail" alt="chair" width="100">
    </div>
    <div class="col-sm">
      Third donation
      <img class="d_p_img" src="public/images/do3.jpg" class="img-thumbnail" alt="chair" width="100">
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-sm">
      Fourth donation
      <img class="d_p_img" src="public/images/do4.jpg" class="img-thumbnail" alt="chair" width="100">
    </div>
    <div class="col-sm">
      fith donation
      <img class="d_p_img" src="public/images/do5.jpg" class="img-thumbnail" alt="chair" width="100">
    </div>
    <div class="col-sm">
      Sixth donation
      <img class="d_p_img" src="public/images/do6.jpg" class="img-thumbnail" alt="chair" width="100">
    </div>
  </div>
</div>