<div class="users">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each users as |user|}}
        <tr>
          <td>{{user.firstname}} {{user.lastname}}</td>
          <td><a href="/" >{{user.email}}</a></td>
          <td>
            <input id="status-toggle" type="checkbox" data-toggle="toggle" data-on="Active" data-off="Inactive" {{#if user.active}} checked {{/if}}data-onstyle="success" data-offstyle="danger" data-size="mini">
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
