<div class="container-fluid">
  {{#if (equal userRole 'admin')}}
    {{#if submittedDonations}}
      <h2>Pending For Review</h2>
      <div class="row row-cols-3 recent-donations">
        {{>donation_listing donations=submittedDonations}}
      </div>
    {{/if}}
    {{#if reviewedDonations}}
      <h2>Reviewed Donations</h2>
      <div class="row row-cols-3 recent-donations">
        {{>donation_listing donations=reviewedDonations}}
      </div>
    {{/if}}
  {{/if}}
</div>
