<div class="container-fluid">
  {{#if (and (equal userRole 'admin') allDonations)}}
    <div class="row">
      <div class="col-5 offset-md-7" id='filter-donations'>
        <div class="form-group">
          <label for="donationStateFilter">
            <span class="small">Filter By Donation State:</span>
          </label>
          <span id="clear-filters" class="hide">
            <a class="small text-danger" href="/users/{{loggedInUser._id}}/review_donations">Clear all filters</a>
          </span>
          <select id="donationStateFilter" class="form-control" name="filter">
            <option value="none" selected disabled hidden>
              Select an Option
            </option>
            <option value='approved'>
              Approved
            </option>
            <option value='submitted'>
              Submitted
            </option>
            <option value='rejected'>
              Rejected
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="donation-listing row row-cols-4">
      {{>donation_listing donations=allDonations}}
    </div>
</div>
{{/if}}
</div>
