<div class="container">
    <div cla="row">
        <div class="col-lg-6">
            <h3>Sign In</h3>
        </div>
        <div class="col-lg-6">
            <h3>Create Account</h3>
        </div>
    </div>
</div>