
<br>
<br>
<br>
<br>
<br>

<div class="container text-center">
  <div class="row">
    <div class="col-lg-6">
        <h1>Matching Donnors with Needy people in the Society</h1>
        <br>
        <br>
        <br>
        <div class="row">
            
            <div class="col-lg-6 text-center">
                <h4>For Donnors</h4>
                <button type="button" class="btn btn-outline-secondary">Start Donating</button>
            </div>
            <div class="col-lg-4 text-center">
                <h4>For Recipient</h4>
                <button type="button" class="btn btn-outline-success">Sign Up & Receive</button>
            </div>
        </div>
        








    </div>
    <div class="col-lg-6">
    
      <img src="/views/posts/hands.png" alt="">
    </div>
   
  </div>
</div>
<hr>