
<div class="container text-center">
  <div class="row">
    <div class="mat1 col-lg-6">
      <h1 id="hd">Matching Donnors with Needy people in the Society</h1>
      <div class="input1 row text-center">
        <div class="col-lg-6 text-center">
          <h4>For Donors</h4>
          <p class="brow">Donation can be made easy by simply uploading an item to the page. Eveyone can donate or become a donor. </p>
          <a href="/d_login"><button type="button" class="btn btn-outline-secondary" id="donnor_login">Start Donating</button></a>
        </div>
        <div class="col-lg-6 text-center">
          <h4>For Recipient</h4>
          <p class="brow">This platform is built for anyone who is in need. Are you in need? Time to shop for $0 </p>
          <a href="/r_login"><button type="button" class="btn btn-outline-success" id='rep_login'>Sign Up & Receive</button></a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="hands.jpg" alt="Black and white holding hands" id="b_w_hands">
    </div>
  </div>
</div>
